@model ConnectingPeople.Web.ViewModels.HelpTasks.HelpTaskViewModel
@{ 
    var isTypeNeed = Model.Type == ConnectingPeople.Common.Enums.TaskType.Need;
    ViewData["titleName"] = isTypeNeed ? "Получил помощ за:" : "Помогнал за:";
    ViewData["toFrom"] = isTypeNeed ? "От:" : "На:";

    ViewData["CreatorRatingColorClassOrDefault"] = Model.Rating.CreatorRatingColorClass != null ?
        Model.Rating.CreatorRatingColorClass :
        "btn-secondary";
    ViewData["OthersideRatingColorClassOrDefault"] = Model.Rating.OthersideRatingColorClass != null ?
        Model.Rating.OthersideRatingColorClass :
        "btn-secondary";
}

<div class="row-cols">
    <div class="col-2 float-left">
        <img src="~/helpTaskPics/@(Model.ImageName).png" onerror="this.src = '/help.jpg'; this.onerror = null" class="col rounded-circle h-25 bg-dark" />
    </div>
    <div class="row">
        <h2 class="font-weight-bold">@ViewData["titleName"]</h2>
        <h3>@Model.Title</h3>
    </div>
    <div class="row text-center">
        <text class="col-2 font-weight-bold">@ViewData["toFrom"] </text>
        <a class="col-2" asp-controller="Profile" asp-action="ByName" asp-route-username="@Model.Rating.OthersideUsername">@Model.Rating.OthersideUsername</a>
    </div>
    <br />
    <div class="row-cols mt-3">
        <div class="row">
            <p class="col-1 mr-5">@Model.Rating.OthersideUsername Оценка</p>
            @if (Model.Rating.OthersideComment != null)
            {
                <p class="col-9 ml-4">@Model.Rating.OthersideComment</p>
            }
            else
            {
                <p class="col-9 ml-4 text-secondary">Все още няма коментар.</p>
            }
            <text class=" col-0 btn-sm btn-group-vertical float-right @ViewData["OthersideRatingColorClassOrDefault"]">@Model.Rating.OthersideRating/10</text>
        </div>
        <div class="row">
            <hr class="col float-right bg-transparent" />
        </div>
        <div class="row">
            <p class="col-1 mr-5">@Model.CreatorUserName Оценка</p>
            @if (Model.Rating.CreatorComment != null)
            {
                <p class="col-9 ml-4">@Model.Rating.CreatorComment</p>
            }
            else
            {
                <p class="col-9 ml-4 text-secondary">Все още няма коментар.</p>
            }
            <text class=" col-0 btn-sm btn-group-vertical float-right @ViewData["CreatorRatingColorClassOrDefault"]">@Model.Rating.CreatorRating/10</text>

        </div>
    </div>
</div>

