@model ConnectingPeople.Web.ViewModels.Forms.OfferHelpFormInputModel 

<div class="row-cols ">
    <form class="row text-center justify-content-center" method="post" asp-action="Offer" enctype="multipart/form-data">
        <div class="col-10 mb-5">
            <label class="font-weight-bold" asp-for="@Model.Title"></label>
            <input asp-for="@Model.Title" class="form-control" />
            <span asp-validation-for="@Model.Title"></span>
            <br />
            <label class="font-weight-bold" asp-for="@Model.Description"></label>
            <input asp-for="@Model.Description" class="form-control" />
            <span asp-validation-for="@Model.Description"></span>
            <br />
            <label class="font-weight-bold" asp-for="@Model.Location"></label>
            <input asp-for="@Model.Location" class="form-control" />
            <span asp-validation-for="@Model.Location"></span>
            <br />
            <label class="font-weight-bold" asp-for="@Model.Image"></label>
            <input asp-for="@Model.Image" class="form-control" />
            <span asp-validation-for="@Model.Image"></span>
            <br />
            <label class="font-weight-bold">Разполагам с:</label>
            <hr />
            <div class="row">
                @for (int i = 0; i < this.Model.Items.Count(); i++)
                {
                    <div>
                        <input type="checkbox" asp-for="@Model.Items[i].SelectedAsAvailable" class="form-control-lg align-middle mr-2" />
                        <label class="@Model.Items[i].FAIconClass fa-lg align-self-center mr-5" asp-for="@Model.Items[i].SelectedAsAvailable"> @Model.Items[i].NameInCyrillic</label>
                        <input type="hidden" asp-for="@Model.Items[i].Id" />
                    </div>
                }
            </div>
        <input type="submit" class="col-4 btn btn-primary mt-5" />
        </div>
    </form>
</div>
